.footer-end-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-bottom:100px;
}
.address {
  width: 185px;
  padding-right: 160px;
  margin-left: 200px;
  .address-text {
    text-align: left;
    font: normal normal normal 13px/27px Roboto;
    letter-spacing: 0px;
    color: #fcfcfd;
  }
}
.footer-link-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: left;
  padding-right: 160px;
}
.footer-links {
  margin-bottom: 32px;
  text-align: left;
  font: normal normal normal 12px/24px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
}
