.section3-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}
.section3-card-image {
}
.section3-card-content {
  padding: 50px 0 0 50px;
  width: 400px !important;
  ul {
    margin: 0;
    padding: 0 0 0 20px;
    li {
      text-align: left;
      font: normal normal normal 14px/36px Roboto;
      letter-spacing: 0px;
      color: #282f33;
    }
  }
}
.section3-card-title {
  text-align: left;
  font: normal normal bold 48px/81px Titillium Web;
  letter-spacing: 0px;
  color: #282f33;
}
.splash-image {
  width: 550px;
  height: 550px;
}
